<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
     <link rel="stylesheet" href="css/style.css">
</head>
<body>
    
<header>
    <form>
        <input type="text"  id="country" placeholder="Enter Your Country">
        <input type="submit" value="Find Weather">
    </form>
</header>

<p id="message">{{message}}</p>
<div class="content" >
<p id="name"></p>
<p id="lat"></p>
<p id="long"></p>
<p id="weather"></p>
 </div>
<p id="error"  style="display: none;"></p>
 
  <script src="js/script.js"></script>
</body>
</html>